.boxer {
    position: relative;
    width: 100%;
  }
  
  .photo {
    display: block;
    width: 100%;
    height: auto;
  }
  .text {
    color: white;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
  }
  
  .boxer:hover .overlay {
    opacity:0.75;
  }
  
  
  @media(min-width:0px)and(max-width:500px){
     
  }
  @media(min-width:500px)and(max-width:980px){
    
  
}
@media(min-width:980px) and (max-width:3000px){
  
}
 .fit-image{
height:60px;
width:60px;
}

.com-button{
  width : 8% !important;
}
